body {
    /* design web background image  */
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
    color: #dc0a0a;
}

.quot {
    width: 60%;
    height: 50px;
    font-style: italic;
    text-align: center;
    margin-top: 15%;
    padding-bottom: 20px;
    border-bottom: solid black thin ;
    background-color: #80808089;
}